/*all*/
*{
	margin:0;
	padding: 0;
}
/*end all*/

body{
	max-width: 100%;
	max-height: 100%;
	background-color: #FAFAFA;
}

/*Box Shadow*/
.box-shadow{
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,.1);
}
.box-shadow-1{
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
.box-shadow-2{
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
/*END Box Shadow*/

/*Menu Bar*/
.bg-menu{
	background-color: #FBFBFB;
}
.text-gray{
	color: #707070;
	text-decoration: none;
}
/*hover-text*/
.text-gray:hover{
	color: #FEC110;
	text-decoration: none;
}
/*END Menu Bar*/

/*Landing Page */
@media (min-width: 768px)
header.masthead {
	padding-top: 12rem;
	padding-bottom: 12rem;
}

header.masthead {
	position: relative;
	background-color: #343a40;
	background: url(../img/bg-banner.jpg) no-repeat center center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 13rem;
	padding-bottom: 14rem;
}

@media (max-width: 20000px) {
	.font-size{
		font-size: 6vw;
		line-height: 80px;
	}
}

/*END Landing Page*/

/*PRODUCT CARD*/
.product-img{
	width: 100%;
	border-top-left-radius: calc(.0rem - 1px);
	border-top-right-radius: calc(.0rem - 1px);
	display: block;
	height: 23vh;
	overflow: hidden;
	position:;

}
.product-img:hover{
	width: 100%;
	border-top-left-radius: calc(.0rem - 1px);
	border-top-right-radius: calc(.0rem - 1px);
	display: block;
	height: 23vh;
	overflow: hidden;
	position: relative;
	z-index: 9;
	box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.3);

	
}
.product-img-1{
	width: 100%;
	border-top-left-radius: calc(.0rem - 1px);
	border-top-right-radius: calc(.0rem - 1px);
	display: block;
	height: 20vh;
	float: left;

}
img{
	vertical-align: middle;
	border-style: none;
}
.product-body{
	height: 205px;
	position: relative;
	height: 215px;
	position: relative;
	padding: 20px 15px 0;
	background-color: #FFFFFF;
}
}
.product-body-1{
	height: 100px;
	position: relative;
	padding: 20px;
	background-color: white;
}
.product-tutor{
	margin-bottom: 5px;
	font-size: 12px;
	color: #bfbfbf;;
	letter-spacing: 1px;
}
.product-price{
	position: absolute;
	bottom: 3px;
	right: 15px;
	font-size: 18px;
	color: black;
}
.product-title{
	display: block!important;
	display: -webkit-box!important;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	font-weight: 600;
	height: 36px;
	min-height: 40px;
	font-size: 15px;
	color: #29303b;
	margin-bottom: 10px;
}

.product-description{
	display: block!important;
	display: -webkit-box!important;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	font-weight: 600;
	height: 36px;
	min-height: 40px;
	font-size: 12px;
	color: #29303b;
	margin-bottom: 10px;
}


.product-location{
	position: absolute;
	bottom: 9px;
	left: : 23px;
	font-size: 11px;
	color: #bfbfbf;
	letter-spacing: 1px;
}
.product-btn{
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.product-btn-wishlist{
	position: absolute;
	top: 8px;
	right: 25px;
	z-index: 99;
}
/*hover btn wishlist*/
.fa-heart-q{
	margin-left: 30px; 
	font-size: 25px; 
	color:#FFFFFF;
	opacity: 0.5;
}
.fa-heart-q:hover{
	color:  #ec5252;
	opacity: 0.9;
}
.box-shadow-product{
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}
.badge-style{
	position: absolute;
	top: 8px;
	left: 20px;
	z-index: 99

}
.button{
	width: 250px;
	height: 50px;
	background-color: #1E1E1E;
	border-radius: 0px;
}
.clock-style{
	position: absolute;
	z-index: 99;
	color: #E7E7E7;
	right: 20px;
	top: 120px;
}
.text{
	font-size: 13px;
}
/* END PRODUCT CARD*/

/*INTERACTION PRIVATE AND GRUB*/
.card-box{
	width: 100%;
	border-top-left-radius: calc(.0rem - 1px);
	border-top-right-radius: calc(.0rem - 1px);
	display: block;
	overflow: hidden;
	position: relative;
	background-color: #FFFFFF;
	box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.1);
	padding: 20px;
}
.icon{
	color: #575757;
	font-size: 150px;
}
.text-1{
	color: #575757;
	font-size: 40px;
}
.text-2{
	font-size: 16px;
	display: block!important;
	display: -webkit-box!important;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	height: 36px;
	min-height: 35vh;
	color: #29303b;
	margin-bottom: 10px;
}
/*ENDINTERACTION PRIVATE AND GRUB*/


/*
@media (min-width: 992px)
.col-md-3 {
	width: 25%;
}*/

.box{
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}


/*FOOTER*/
/*background*/
.bg-black-a{
	background-color: #2A2D2F;
}
/*end background*/
/*link*/
.text-gr{
	color: #F7F7F7;
	text-decoration: none;
}
/*hover-text*/
.text-gr:hover{
	color: #FEC110;
	text-decoration: none;
}
/*end link*/
/*line*/
.line{
	border-top: 0.5px solid #FEC110;
}
/*end line*/
/*END FOOTER*/